# -------------------------------------------------------
# PostgreSQL 環境設定
# -------------------------------------------------------
POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword

# -------------------------------------------------------
# pgAdmin4 ログイン情報
# -------------------------------------------------------
PGADMIN_DEFAULT_EMAIL=admin@example.com

# -------------------------------------------------------
# 共通設定
# -------------------------------------------------------
TZ=Asia/Tokyo

